<div class="employee-list-container">
    <mat-accordion class="employee-list">
        <mat-expansion-panel *ngFor="let employee of employeeList;let index=index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{employee.name}}
                </mat-panel-title>
                <mat-panel-description>
                    <ng-container *ngIf="employee.jobRole && employee.company">{{employee.jobRole}} -
                        {{employee.company}}</ng-container>
                    <ng-container *ngIf="employee.jobRole && !employee.company">{{employee.jobRole}}</ng-container>
                    <ng-container *ngIf="employee.company && !employee.jobRole">{{employee.company}}</ng-container>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card>
                <h4 mat-line> Name - {{employee.name}} </h4>
                <p mat-line> Email - {{employee.email}} </p>
                <p mat-line> Phone - {{employee.dialCode}}{{employee.phone}} </p>
                <p mat-line *ngIf="employee.jobRole"> Job Role - {{employee.jobRole}} </p>
                <p mat-line *ngIf="employee.company"> Company - {{employee.company}} </p>
                <p mat-line *ngIf="employee.address"> Address - {{employee.address}} </p>
                <p mat-line *ngIf="employee.salary"> Salary - {{employee.salary}} </p>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>
