<div class="employee-detail-container">
    <mat-card class="employee-detail-card">
        <mat-card-header>
            <mat-card-title class="employee-detail-card-title">Enter Details
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="employee-detail-card-content">
            <form [formGroup]="employeeDetailForm" class="employee-detail-form">
                <div class="form-field-container">
                    <div class="form-feild-label-container">
                        <label class="form-field-label" for="nameField">Name</label>
                    </div>
                    <mat-form-field class="form-field">
                        <input matInput type="text" name="name" id="nameField" placeholder="Name"
                            formControlName="name">
                        <mat-error *ngIf="employeeDetailForm.get('name')">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field-container">
                    <div class="form-feild-label-container">
                        <label class="form-field-label" for="emailField">Email</label>
                    </div>
                    <mat-form-field class="form-field">
                        <input matInput type="email" name="email" id="emailField" placeholder="Email"
                            formControlName="email">
                        <mat-error *ngIf="employeeDetailForm.get('email')">
                            This field is required!
                        </mat-error>
                        <mat-error *ngIf="employeeDetailForm.get('email')">
                            Please enter a valid email!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field-container">
                    <div class="form-feild-label-container">
                        <label class="form-field-label" for="phoneField">Phone</label>
                    </div>
                    <mat-form-field class="form-field">
                        <span matPrefix>{{employeeDetailForm.value.dialCode}}</span>
                        <input matInput type="tel" name="phone" id="phoneField" placeholder="Phone"
                            formControlName="phone">
                        <mat-error *ngIf="employeeDetailForm.get('phone')">
                            Please enter a valid phone number!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field-container">
                    <div class="form-feild-label-container">
                        <label class="form-field-label" for="companyField">Company</label>
                    </div>
                    <mat-form-field class="form-field">
                        <input matInput type="text" name="company" id="companyField" placeholder="Company"
                            formControlName="company">
                    </mat-form-field>
                </div>

                <div class="form-field-container">
                    <div class="form-feild-label-container">
                        <label class="form-field-label" for="jobRoleField">Job Role</label>
                    </div>
                    <mat-form-field class="form-field">
                        <input matInput type="text" name="jobRole" id="jobRoleField" placeholder="Job Role"
                            formControlName="jobRole">
                        <mat-error *ngIf="employeeDetailForm.get('jobRole')">
                            Please enter a shorter value (max 50 characters)!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field-container">
                    <div class="form-feild-label-container">
                        <label class="form-field-label" for="addressField">Address</label>
                    </div>
                    <mat-form-field class="form-field">
                        <textarea matInput name="address" id="addressField" placeholder="Address"
                            formControlName="address"></textarea>
                        <mat-error *ngIf="employeeDetailForm.get('address')">
                            Please enter a shorter value (max 200 characters)!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field-container">
                    <div class="form-feild-label-container">
                        <label class="form-field-label" for="salaryField">Salary (Annual)</label>
                    </div>
                    <mat-form-field class="form-field">
                        <input matInput type="number" name="salary" id="salaryField" placeholder="Salary"
                            formControlName="salary">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="employeeDetailForm.invalid"
                (click)="onSave()">Save</button>
            <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>
