<div class="dashboard-container">
    <mat-card class="employee-list-card">
        <div class="dashboard-header-container">
            <h3 class="dashboard-header-text">Employee List</h3>
            <button mat-icon-button class="add-employee-button" (click)="addEmployee()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>

        <div class="employee-list-container">
            <app-employee-list></app-employee-list>
        </div>
    </mat-card>
</div>
